<p id="notice"><%= notice %></p>

<p>
  <strong>Id user:</strong>
  <%= @project_rol_user_perm.id_user %>
</p>

<p>
  <strong>Id project:</strong>
  <%= @project_rol_user_perm.id_project %>
</p>

<%= link_to 'Edit', edit_project_rol_user_perm_path(@project_rol_user_perm) %> |
<%= link_to 'Back', project_rol_user_perms_path %>
