<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_rol.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_rol.description %>
</p>

<%= link_to 'Edit', edit_project_rol_path(@project_rol) %> |
<%= link_to 'Back', project_rols_path %>
