<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h1>Hi <%= @user_member.username %></h1>

You have been invited by <%= @user.username %>(<%= user_email(@user.id) %>) to join a new team on Watchiot.

Login here <%= url_for(controller: 'users', action: 'login', only_path: false)  %><br/><br/>

and then you have access to <%= url_for(controller: 'dashboard', action: 'show', username: @user.username, only_path: false)  %>

like a new member of the team.<br/><br/>

WatchIoT Support
</body>
</html>
