<p id="notice"><%= notice %></p>

<p>
  <strong>Id user:</strong>
  <%= @space_rol_user_perm.id_user %>
</p>

<p>
  <strong>Id space:</strong>
  <%= @space_rol_user_perm.id_space %>
</p>

<%= link_to 'Edit', edit_space_rol_user_perm_path(@space_rol_user_perm) %> |
<%= link_to 'Back', space_rol_user_perms_path %>
