<%= render 'shared/alert_message'%>

<div class="container register-height">
	<div class="jumbotron">
		<h2>Resent the password!</h2>

		<p>We send the email to the principal email. For security purposes,
			we can only resend to the principal email account for this account.
		</p>

		<%= form_for @user, url: '/forgot', method: 'post' do |f| %>
			<div class="auth-form">
				<div class="input">
					<%= f.label :username %><br />
					<%= f.text_field :username, class: "form-control" %>
					<span><i class="fa fa-user fa-fw"></i></span>
				</div>
				<p><%= submit_tag "Send", class: "btn btn-default btn-lg active" %></p>

			</div>
		<% end %>
	</div>
</div>
