<%= render 'layouts/alert_message'%>
<div class="auth-form-header">
<h1>Login</h1>
</div>
<%= form_tag login_path do %>
    <div class="form-group auth-form">
       <div class="input">
          <%= label_tag :email %><br />
          <%= text_field_tag :email, params[:email], class: "form-control" %>
         <span><i class="fa fa-envelope-o"></i></span>
        </div>
        <div class="input">
          <%= label_tag 'Password' %><br />
          <%= password_field_tag :passwd %>
          <span><i class="fa fa-lock"></i></span>
        </div>
        <div class="checkbox-inline">
            <label class="checkbox"><%= check_box_tag :remember_me, 1, params[:remember_me] %>Remember me |
							<a href="/forgot">I forgot my password</a>
						</label>
        </div>

        <p><%= submit_tag "Log in", class: "btn btn-default btn-lg active" %></p>

				<br />
				<p><%= link_to  'auth/github', class: "btn btn-primary btn-lg active" do%>
					<i class="fa fa-github-square fa-1x"></i> Log in with Github
					<%end %>
				</p>
    </div>
<% end %>







