<div class="with-gradient" id="faq">
	<div class="started-session">
		<div class="row value-props">
			<h1 class="col-lg-12">Frequently Asked Questions</h1>
			<div class="faq-padding">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<% @faqs.each do |faq| %>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading<%= faq.id %>">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= faq.id %>" aria-expanded="false" aria-controls="collapse<%= faq.id %>">
								<h4 class="panel-title text-left"><%= faq.question %></h4>
							</a>
						</div>
						<div id="collapse<%= faq.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= faq.id %>">
							<div class="panel-body">
								<%= faq.answer %>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div><!-- /.row -->
	</div>
</div>