<!-- include hero here if the page is index -->

<div class="container-fluid hero">
  <div class="starter-template">
    <h1 class="dotnet">Watch IoT</h1>
    <p class="lead">A monitor services, resources and IoT</p>
    <!-- Standard button -->
    <a href="#getting-started" class="btn-hero-core">Getting started</a>
  </div>
</div><!-- /.container -->

<div class="container-fluid hero-gradient content">
  <!-- CONTENT GOES HERE -->
  <!-- INCLUDE THE VALUE PROPS -->
  <div class="with-gradient">
    <div class="started-session">
      <div class="row value-props">
        <div class="col-lg-4 text-center animated fadeInLeft">
          <%= icon('cubes', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Multiplatform</h2>
          <p>You can monitor different platforms, like the resources of your server on linux, windows or any application in the cloud and the smart devices (Internet of Thing).</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center  animated fadeIn">
          <%= icon('cog', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Configurable</h2>
          <p>The power of Watch IoT is whole configurable, you can configure what server or resource you will monitor, what parameters you will receive and when the system will throw an alert for you.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('envelope', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Notification</h2>
          <p>The notifications via email and sms are in real time about what is happened with your services or resources. Feel secure, you have all under control and you can sleep relaxing we are going to stay alert for you.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="row value-props">
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('arrows-h', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Bidirectional</h2>
          <p>Watch IoT can request your services or you services can request Watch IoT, dependent your necessities. You can specify period of time when send the request you services or who you expect for the request.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('code', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Scripting</h2>
          <p>You have two way of parser the request/response. Using configured params or can create scripting to parse your values. You can take decision using the scripts about who would be notified.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('area-chart', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Charting</h2>
          <p>All history data can be shown using charting and you can see how your services have worked. The charting always is a great tool for understand health of your services and resources.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
  </div>

  <div class="with-gradient" id="getting-started">
    <div class="started-session">
      <div class="row value-props height-panel" >
        <h1 class="col-lg-12">Getting started</h1>
        <h3 class="col-lg-4 g-started">Register</h3>
        <h3 class="col-lg-4 g-started">Configure</h3>
        <h3 class="col-lg-4 g-started">Monitor</h3>
      </div><!-- /.row -->
    </div>
  </div>

  <div class="with-gradient" id="faq">
    <div class="started-session">
      <div class="row value-props">
        <h1 class="col-lg-12">Frequently Asked Questions</h1>
        <div class="faq-padding">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title text-left">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      What is Watch IoT?
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    Watch IoT is an application on the cloud to provider a rich platform to monitor your application, services or internet of thing device.
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title text-left">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Is it free?
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    Of course.
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div><!-- /.row -->
    </div>
  </div>

</div>