<!-- include hero here if the page is index -->

<div class="container-fluid hero">
  <div class="starter-template">
    <h1 class="dotnet">Watch IoT</h1>
    <p class="lead">A monitor services, resources and IoT (We are under construction)</p>
    <!-- Standard button -->
    <a href="#getting-started" class="btn-hero-core">Getting started</a>
  </div>
</div><!-- /.container -->

<div class="container-fluid hero-gradient content">
  <!-- CONTENT GOES HERE -->
  <!-- INCLUDE THE VALUE PROPS -->
  <div class="with-gradient">
    <div class="started-session">
      <div class="row value-props">
        <div class="col-lg-4 text-center animated fadeInLeft">
          <%= icon('cubes', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Multiplatform</h2>
          <p>You can monitor different platforms, like the resources of your server on linux, windows or any application in the cloud and the smart devices (Internet of Thing).</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center  animated fadeIn">
          <%= icon('cog', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Configurable</h2>
          <p>The power of Watch IoT is whole configurable, you can configure what server or resource you will monitor, what parameters you will receive and when the system will throw an alert for you.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('envelope', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Notification</h2>
          <p>The notifications via email and sms are in real time about what is happened with your services or resources. Feel secure, you have all under control and you can sleep relaxing we are going to stay alert for you.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="row value-props">
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('arrows-h', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Bidirectional</h2>
          <p>Watch IoT can request your services or you services can request Watch IoT, dependent your necessities. You can specify period of time when send the request you services or who you expect for the request.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('code', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Scripting</h2>
          <p>You have two way of parser the request/response. Using configured params or can create scripting to parse your values. You can take decision using the scripts about who would be notified.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('area-chart', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Charting</h2>
          <p>All history data can be shown using charting and you can see how your services have worked. The charting always is a great tool for understand health of your services and resources.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
  </div>

  <div class="with-gradient" id="getting-started">
    <div class="started-session">
      <div class="row value-props height-panel" >
        <h1 class="col-lg-12">Getting started</h1>
        <h3 class="col-lg-4 g-started">Register</h3>
        <h3 class="col-lg-4 g-started">Configure</h3>
        <h3 class="col-lg-4 g-started">Monitor</h3>
      </div><!-- /.row -->
    </div>
  </div>

	<div class="with-gradient" id="plans">
		<div class="started-session">
			<div class="row value-props height-panel" >
				<h1 class="col-lg-12">Plans</h1>
				<br /><br /><br /><br /><br />
						<div data-example-id="simple-table" class="bs-example">
							<table class="table table-bordered">
								<colgroup>
									<col class="col-xs-5">
									<col class="col-xs-2">
									<col class="col-xs-2">
									<col class="col-xs-2">
									<col class="col-xs-2">
								</colgroup>
								<thead>
								<tr class="active">
									<th>Feature</th>
									<th>Free</th>
									<th>Small</th>
									<th>Medium</th>
									<th>Large</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td class="text-left"><strong>Number of spaces</strong></td>
									<td>3</td>
									<td>5</td>
									<td>10</td>
									<td>30</td>
								</tr>
								<tr>
									<td class="text-left"><strong>Number of projects by space</strong></td>
									<td>5</td>
									<td>10</td>
									<td>15</td>
									<td>30</td>
								</tr>
								<tr>
									<td class="text-left"><strong>Private spaces and projects</strong></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
								</tr>
								<tr>
									<td class="text-left"><strong>Request per minutes</strong></td>
									<td>1</td>
									<td>15	</td>
									<td>30</td>
									<td>60</td>
								</tr>
								<tr>
									<td class="text-left"><strong>Notification by email</strong></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
								</tr>
								<tr>
									<td class="text-left"><strong>Notification by sms</strong></td>
									<td></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
								</tr>
								<tr>
									<td class="text-left"><strong>Webhook support</strong></td>
									<td></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
								</tr>
								<tr>
									<td class="text-left"><strong>Subscribe users in public spaces/projects</strong></td>
									<td>unlimited</td>
									<td>unlimited</td>
									<td>unlimited</td>
									<td>unlimited</td>
								</tr>
								<tr>
									<td class="text-left"><strong>Team members</strong></td>
									<td>1</td>
									<td>5</td>
									<td>10</td>
									<td>unlimited</td>
								</tr>
								<tr>
									<td></td>
									<td class="success"><b>$0/mounth</b></td>
									<td class="success"><b>$9/month</b></td>
									<td class="success"><b>$19/month</b></td>
									<td class="success"><b>$49/month</b></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
			</div><!-- /.row -->
		</div>

  <div class="with-gradient" id="faq">
    <div class="started-session">
      <div class="row value-props">
        <h1 class="col-lg-12">Frequently Asked Questions</h1>
        <div class="faq-padding">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										<h4 class="panel-title text-left">What is Watch IoT?</h4>
									</a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    Watch IoT is an application on the cloud to provider a rich platform to monitor your application, services or internet of thing device.
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<h4 class="panel-title text-left">Can i use this service for $0 cost?</h4>
									</a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    We have a basic plan when you pay nothing to use our service and monitor your services or devices
                  </div>
                </div>
              </div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<h4 class="panel-title text-left">What type of services can i monitor and receive alert?</h4>
									</a>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										Of course.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<h4 class="panel-title text-left">How do i configure my projects?</h4>
									</a>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										Of course.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<h4 class="panel-title text-left">What is an space?</h4>
									</a>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										Of course.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<h4 class="panel-title text-left">How much projects can i configure by spaces?</h4>
									</a>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										Of course.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<h4 class="panel-title text-left">How much people can subscribe and receive notifications?</h4>
									</a>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										Of course.
									</div>
								</div>
							</div>
            </div>
        </div>
      </div><!-- /.row -->
    </div>
  </div>

	<div class="with-gradient" id="contactus">
		<div class="started-session">
			<div class="row value-props" >
				<h1 class="col-lg-12">Contact us</h1>
				<form action="/home/contact" method="post">

						<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
						<div class="input">
							<%= label(:contact, :email) %>
							<%= email_field(:contact, :email, class: "form-control") %>
						</div>
						<div class="input">
							<%= label(:contact, :subject) %>
							<%= text_field(:contact, :subject, class: "form-control") %>
						</div>
						<div class="input">
							<%= label(:contact, :body) %>
							<%= text_area(:contact, :body, class: "form-control") %>
						</div>
						<p><%= submit_tag "Send", class: "btn btn-primary btn-lg active" %></p>
				</form>

				<% flash.each do |key, value| %>
					<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>

			</div><!-- /.row -->
		</div>
	</div>

</div>