<!-- include hero here if the page is index -->

<div class="container-fluid hero ">
  <div class="starter-template">
    <h1 class="dotnet">Watch IoT</h1>
    <p class="lead">A Monitor IoT Cloud Services</p>
    <!-- Standard button -->
    <a href="/core/getting-started/" class="btn-hero-core">Getting started</a>
  </div>
</div><!-- /.container -->

<div class="container content">
  <!-- CONTENT GOES HERE -->
  <!-- INCLUDE THE VALUE PROPS -->
  <div id="vp-container">
    <div id="initial-vps">
      <div class="row value-props">
        <div class="col-lg-4 text-center animated fadeInLeft">
          <%= icon('cubes', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Multi-Platform</h2>
          <p>You can monitory different platforms, like your serves on linux, windows or your site in the cloud.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center  animated fadeIn">
          <%= icon('cog', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Configurable</h2>
          <p>All the system is configurable, you can configure different parameters for all are you needing.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('heartbeat', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Notification</h2>
          <p>You gain notification in real time about what is happened with your services or project and feel save and secure about your products in the cloud.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="row value-props">
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('arrows-h', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Bidirectional</h2>
          <p>Watch IoT can request your services or you services can request Watch IoT, that dependent your necessity.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('code', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Scripting</h2>
          <p>You can create scripting to parse your values and take decision about when a who would be notify.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('area-chart', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Charting</h2>
          <p>You can create show charting with display how your service work.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
  </div>

</div>