<!-- include hero here if the page is index -->

<div class="container-fluid hero ">
  <div class="starter-template">
    <h1 class="dotnet">Watch IoT</h1>
    <p class="lead">A Monitor IoT, Cloud and Services</p>
    <!-- Standard button -->
    <a href="/core/getting-started/" class="btn-hero-core">Getting started</a>
  </div>
</div><!-- /.container -->

<div class="container content">
  <!-- CONTENT GOES HERE -->
  <!-- INCLUDE THE VALUE PROPS -->
  <div id="vp-container">
    <div id="initial-vps">
      <div class="row value-props">
        <div class="col-lg-4 text-center animated fadeInLeft">
          <%= icon('cubes', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Multiplatform</h2>
          <p>You can monitory different platforms, like the resources of your serves on linux, windows, any application in the cloud or you smart devices (Internet of Thing).</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center  animated fadeIn">
          <%= icon('cog', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Configurable</h2>
          <p>The power of Watch IoT is been whole configurable, you can configure what server or resource you will monitor, what parameters you will receive and when the system will throw an alert aim you.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('heartbeat', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Notification</h2>
          <p>The notifications via email and sms are in real time about what is happened with your services or resources. Feel save and secure you have all under control and sleep relax we are going to stay alert for you.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="row value-props">
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('arrows-h', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Bidirectional</h2>
          <p>Watch IoT can request your services or you services can request Watch IoT, that dependent your necessity.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('code', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Scripting</h2>
          <p>You can create scripting to parse your values and take decision about when a who would be notify.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center animated fadeInRight">
          <%= icon('area-chart', '', class: 'fa-3x') %>
          <h2 class="value-prop-heading">Charting</h2>
          <p>You can create show charting with display how your service work.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
  </div>

</div>