<pre id="editor">
	<%= @project.configuration %>
</pre>

<div class="form-horizontal">
	<%= form_tag '/' + param_user + '/' + @space.name + '/' + @project.name + '/evaluate', remote: true, method: 'patch', id:'evaluator-form' do  %>
		<%= hidden_field_tag 'configuration' %>
		<div class="col-md-1">
			<%= submit_tag 'Evaluate', class: 'btn btn-primary', title: 'Syntactic evaluation' %>
		</div>
	<% end %>

	<%= form_tag '/' + param_user + '/' + @space.name + '/' + @project.name + '/deploy', remote: true, method: 'patch', id:'deploy-form' do  %>
		<%= hidden_field_tag 'deploy' %>
		<div class="col-md-1">
			<%= submit_tag 'Deploy', class: 'btn btn-primary', title: 'Deploy configuration' %>
		</div>
	<% end %>
</div>

<div id="result-evaluator"></div>
