<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="accountSetting">
		<div class="row">
			<h4 class="panel-title ">
				<a class="collapsed col-lg-12 clear-background" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAccountSetting" aria-expanded="false" aria-controls="collapseTwo">
					<h4>Account Settings</h4>
				</a>
			</h4>
		</div>
	</div>
	<div id="collapseAccountSetting" class="panel-collapse collapse<%if @in == 'account'%> in<%end%>" role="tabpanel" aria-labelledby="accountSetting">
		<div class="panel-body">
			<div data-example-id="simple-table" class="bs-example">

				<div class="panel panel-default">
					<div class="panel-heading"><b>Emails</b></div>
					<div class="panel-body">
						<small>The principal email receive all the notifications.</small>
						<table class="table table-hover">
							<colgroup>
								<col class="col-xs-7">
								<col class="col-xs-2">
								<col class="col-xs-1">
							</colgroup>
							<thead>
							<tr>
								<th>Email</th>
								<th>Principal</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<% @emails.each do |email| %>
							<tr>
								<td><%= email.email%></td>
								<td><%if email.principal? %><i class="fa fa-check"></i><%end%></td>
								<td>
									<%unless email.principal? %>
									<a href="#"><i class="fa fa-check-circle-o fa-2x"></i></a>
									<a href="#"><i class="fa fa-trash fa-2x"></i></a>
									<%end%>
								</td>
							</tr>
							<% end%>
							</tbody>
						</table>

						<%= form_for @email, url: '/' + current_user.username + '/setting/account/email/add'  do |f| %>
						<div class="form-group">
							<%= div_for(@email, class: 'form-group col-lg-6') do %>
								<label>New email</label>
								<div>
									<%= f.email_field :email, class: 'form-control', placeholder: 'New Email' %>
								</div>
							<%end%>
							<%= div_for(@email, class: 'form-group col-lg-9') do %>
								<%= submit_tag 'Add email', class: 'btn btn-primary' %>
							<%end%>
						</div>
						<%end%>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading"><b>Change password</b></div>
					<div class="panel-body">
						<form class="form-group">
							<div class="form-group col-lg-6">
								<label>Old password</label>
								<div>
									<input type="password" class="form-control" placeholder="Old password" >
								</div>
							</div>

							<div class="col-lg-6 col-lg-offset-6">
							</div>

							<div class="form-group col-lg-6">
								<label>New password</label>
								<div>
									<input type="password" class="form-control" placeholder="New password" >
								</div>
							</div>

							<div class="form-group col-lg-6">
								<label>Confirm password</label>
								<div>
									<input type="password" class="form-control" placeholder="Confirm password" >
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-9">
									<button type="button" class="btn btn-primary">Save password</button>
									<a href="#">I forget my password</a>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="panel panel-warning">
					<div class="panel-heading"><b>Change username</b></div>
					<div class="panel-body">

						<small>This change can be painful and break your applications.</small>
						<form class="form-group">
							<div class="form-group col-lg-6">
								<label>Username</label>
								<div>
									<input type="text" class="form-control" placeholder="Username" value="robertazo">
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-9">
									<button type="button" class="btn btn-warning">Change</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="panel panel-danger">
					<div class="panel-heading"><b>Delete account</b></div>
					<div class="panel-body">

						<small>Do you need delete all the spaces or transfer they to other account.</small>
						<form class="form-group">

							<div class="form-group">
								<div class="col-lg-9">
									<button type="button" class="btn btn-danger">Delete</button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>