<div role="tabpanel" class="tab-pane<%if @in == 'account'%> active<%end%>" id="account">
		<div class="panel-body">
			<div data-example-id="simple-table" class="bs-example">
				<div class="panel panel-default">
					<div class="panel-heading"><b>Emails</b></div>
					<div class="panel-body">
						<small>The principal email receive all the notifications.</small>
						<table class="table table-hover">
							<colgroup>
								<col class="col-xs-7">
								<col class="col-xs-2">
								<col class="col-xs-1">
							</colgroup>
							<thead>
							<tr>
								<th>Email</th>
								<th>Principal</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<% @emails.each do |email| %>
							<tr>
								<td><%= email.email%></td>
								<td><%if email.principal? %><i class="fa fa-check"></i><%end%></td>
								<td>
									<%unless email.principal? %>
										<%= link_to '/' + current_user.username + '/setting/account/email/principal/' + email.id.to_s,
																class: 'clear-background' do %>
											<i class="fa fa-check-circle-o fa-2x"></i>
										<%end%>
										<%= link_to '/' + current_user.username + '/setting/account/email/delete/' + email.id.to_s,
																method: :delete, class: 'clear-background' do %>
											<i class="fa fa-trash fa-2x"></i>
										<%end%>
									<%end%>
								</td>
							</tr>
							<% end%>
							</tbody>
						</table>

						<%= form_for @email, url: '/' + current_user.username + '/setting/account/email/add'  do |f| %>
						<div class="form-group">
							<%= div_for(@email, class: 'form-group col-lg-6') do %>
								<label>New email</label>
								<div>
									<%= f.email_field :email, class: 'form-control', placeholder: 'New Email' %>
								</div>
							<%end%>
							<%= div_for(@email, class: 'form-group col-lg-9') do %>
								<%= submit_tag 'Add email', class: 'btn btn-primary' %>
							<%end%>
						</div>
						<%end%>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading"><b>Change password</b></div>
					<div class="panel-body">
						<%= form_for @user, url: '/' + current_user.username + '/setting/account/chpassword'  do |f| %>
						<div class="form-group">
							<%= div_for(@email, class: 'form-group col-lg-6') do %>
								<label>Old password</label>
								<div>
									<%= f.password_field :passwd, class: 'form-control', placeholder: 'Old password' %>
								</div>
							<% end %>

							<div class="col-lg-6 col-lg-offset-6">
							</div>

							<%= div_for(@email, class: 'form-group col-lg-6') do %>
								<label>New password</label>
								<div>
									<%= f.password_field :passwd_new, class: 'form-control', placeholder: 'New password' %>
								</div>
							<% end %>

							<%= div_for(@email, class: 'form-group col-lg-6') do %>
								<label>Confirm password</label>
								<div>
									<%= f.password_field :passwd_confirmation, class: 'form-control', placeholder: 'Confirm password' %>
								</div>
							<% end %>

							<%= div_for(@email, class: 'form-group col-lg-9') do %>
									<%= submit_tag 'Save password', class: 'btn btn-primary' %>
								<a href="#">I forget my password</a>
							<%end%>
							</div>
						<% end %>
					</div>
				</div>

				<div class="panel panel-warning">
					<div class="panel-heading"><b>Change username</b></div>
					<div class="panel-body">
						<small>This change can be painful and break your applications.</small>
						<%= form_for @user, url: '/' + current_user.username + '/setting/account/chusername'  do |f| %>
						<div class="form-group">

							<%= div_for(@user, class: 'form-group col-lg-6') do %>
								<label>Username</label>
								<div>
									<%= f.text_field :username, class: 'form-control', placeholder: 'Username', value: current_user.username %>
								</div>
							<%end%>

							<%= div_for(@user, class: 'form-group col-lg-9') do %>
								<%= submit_tag 'Change', class: 'btn btn-warning' %>
							<%end%>

						</div>
						<%end%>
					</div>
				</div>

				<div class="panel panel-danger">
					<div class="panel-heading"><b>Delete account</b></div>
					<div class="panel-body">

						<small>Do you need delete all the spaces or transfer they to other account.</small>
						<%= form_for @user, url: '/' + current_user.username + '/setting/account/delete', method: :delete  do |f| %>
						<div class="form-group">

							<%= div_for(@user, class: 'form-group col-lg-9') do %>
								<%= submit_tag 'Delete', class: 'btn btn-danger' %>
							<%end%>

						</div>
						<%end%>
					</div>
				</div>
			</div>
		</div>
</div>