<div role="tabpanel" class="tab-pane<%if @in == 'api'%> active<%end%>" id="api">
		<div class="panel-body">
			<div data-example-id="simple-table" class="bs-example">

				<%= render 'alert_message'%>

				<b>My API Key</b>
				<br /><br />
				<%= login_api_key %>
				<br /><br />

				<%= form_for @user, url: '/' + login_user.username + '/setting/key/generate' do |f| %>
					<div class="form-group">
						<%= div_for(@user, class: 'form-group') do %>
							<%= submit_tag 'Generate new', class: 'btn btn-primary' %>
						<%end%>
					</div>
				<% end %>
			</div>
		</div>
</div>