<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="plans">
		<div class="row">
			<h4 class="panel-title ">
				<a class="collapsed col-lg-12 clear-background" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePlans" aria-expanded="false" aria-controls="collapseTwo">
					<h4>Plans</h4>
				</a>
			</h4>
		</div>
	</div>
	<div id="collapsePlans" class="panel-collapse collapse<%if @in == 'plan'%> in<%end%>" role="tabpanel" aria-labelledby="plans">
		<div class="panel-body">
			<div data-example-id="simple-table" class="bs-example">
				<table class="table table-bordered">
					<colgroup>
						<col class="col-xs-5">
						<col class="col-xs-2">
						<col class="col-xs-2">
						<col class="col-xs-2">
						<col class="col-xs-2">
					</colgroup>
					<thead>
					<tr class="active">
						<th>Feature</th>
						<% @plans.each do |plan| %>
							<th><%= plan.name %></th>
						<% end %>
					</tr>
					</thead>
					<tbody>
					<% @features.each do |feature| %>
						<tr>
							<td class="text-left"><strong><%= feature.name %></strong></td>
							<% feature.plan_features.each do |plan_feature| %>
								<td><% if plan_feature.value == 'true' %><i class="fa fa-check"></i><% else %><%= plan_feature.value %><% end %></td>
							<% end %>
						</tr>
					<% end %>
					<tr>
						<td></td>
						<% @plans.each do |plan| %>
							<td class="success"><b>$<%= number_with_precision(plan.amount_per_month, precision: 0) %>/mounth</b></td>
						<% end %>
					</tr>
					<tr>
						<td><strong>Plans</strong></td>
						<% @plans.each do |plan| %>
							<td <%if plan.id == current_user.plan_id %>class="success"<%end%>>
								<%if plan.id == current_user.plan_id %>
									<b>Your plan</b>
								<%else%>
									<%=link_to("Upgrade", '/' + current_user.username + '/setting/plan/upgrade/' + plan.id.to_s, class: "btn btn-primary")%>
								<%end%>
							</td>
						<% end %>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>