<div class="row dashboard-page">
	<div class="index-setting">
		<br />
		<div class="panel panel-success">
			<div class="panel-body">
				<h3>Gorums setting</h3>
				<br />
				<%= render "profile" %>
				<%= render "account" %>
				<%= render "plan" %>
				<%= render "team" %>
				<%= render "security" %>
				<%= render "api_key" %>
			</div>
		</div>
  </div>
</div>
