<div class="row dashboard-page">
	<div class="index-setting">
		<br />
		<div class="panel panel-success">
			<div class="panel-body">
				<h3>Gorums setting</h3>
				<br />

				<%= render "profile", locals: {in: @in} %>
				<%= render "account", locals: {in: @in} %>
				<%= render "plan", locals: {in: @in} %>
				<%= render "team", locals: {in: @in} %>
				<%= render "api_key", locals: {in: @in} %>
			</div>
		</div>
  </div>
</div>
