<div id="navbar" class="collapse navbar-collapse head-dashboard">
	<ul class="nav navbar-nav">
		<li>
			<div class="apps-search">
				<i class="fa fa-search fa-2x fa-apps-search"></i>
				<input type="text" class="form-control apps-search-input" placeholder="Search"/>
			</div>
		</li>
	</ul>

	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle dropdown-user-a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-user">
             	<img class="img-circle" data-email="<%= current_user_email %>" width="23" height="23">
							<%= current_user.username %>
							<span class="caret"></span>
            </span>
			</a>
			<ul class="dropdown-menu dropdown-menu-left">
				<li><%= link_to root_path do%>
						<i class="fa fa-home"></i>
						Home
					<%end%></li>
				<li><%= link_to "/" + current_user.username + "/spaces" do%>
						<i class="fa fa-laptop"></i>
						Spaces
					<%end%></li>
				<li><%= link_to "/" + current_user.username + "/chart" do%>
						<i class="fa fa-bar-chart"></i>
						Chart
					<%end%></li>
				<li><%= link_to "/" + current_user.username + "/setting" do%>
						<i class="fa fa-cogs"></i>
						Setting
					<%end%></li>
				<li role="separator" class="divider"></li>
				<li><%= link_to logout_path do%>
						Logout
					<%end%></li>
			</ul>
		</li>
	</ul>
</div>