<div id="navbar" class="collapse navbar-collapse head-dashboard">

	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle dropdown-user-a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-user">
							<span class="caret"></span>
             	<img class="img-circle" data-email="<%= me_user_email %>" width="23" height="23">
							<%= me.username %> (<%= me_user_email %>)
            </span>
			</a>
			<ul class="dropdown-menu dropdown-menu-left">
				<li><%= link_to root_path do%>
						<i class="fa fa-home"></i>
						Home
					<%end%>
				</li>

				<li><%= link_to "/" + param_user + "/spaces" do%>
						<i class="fa fa-laptop"></i>
						Spaces
					<%end%>
				</li>
				<li><%= link_to "/" + param_user + "/chart" do%>
						<i class="fa fa-bar-chart"></i>
						Chart
					<%end%>
				</li>
				<%if me.username == param_user %>
				<li><%= link_to "/" + param_user + "/setting" do%>
						<i class="fa fa-cogs"></i>
						Setting
					<%end%>
				</li>
				<%end%>
				<%if me.username != param_user %>
					<li><%= link_to "/" + me.username  do%>
							<i class="fa fa-th"></i>
							My Dashboard
						<%end%>
					</li>
				<% end %>
				<li role="separator" class="divider"></li>
				<li><%= link_to logout_path do%>
						Logout
					<%end%>
				</li>
			</ul>
		</li>
	</ul>
</div>