<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<%= link_to root_path do%>
				WatchIoT
			<%end%>
			<div class="ember-view navigator-toggle icon icon-navigator-toggle"></div>
		</li>
		<li class="dashboard-menu">
			<%= link_to "/" + param_user do%>
				<i class="fa fa-th"></i>
				Dashboard
			<%end%>
		</li>
		<%if me.username == param_user%>
			<li class="dashboard-menu">
				<%= link_to "/" + me.username + "/setting" do%>
					<i class="fa fa-cogs"></i>
					Setting
				<%end%>
			</li>
		<%end%>
		<li class="dashboard-menu">
			<%= link_to "/" + param_user + "/chart" do%>
				<i class="fa fa-bar-chart"></i>
				Chart
			<%end%>
		</li>
	</ul>

	<div class="spaces">
		<div id="tree"></div>
	</div>
</div>


<script>
	function getTree() {
		var tree = [
			{
				text: "My Spaces",
				href: "/<%= me.username %>/spaces",
				<%if !@spaces.nil? && @spaces.size > 0 %>
				nodes: [
				<% @spaces.each do |space| %>
					{
						text: "<%= space.name %>",
						href: "/<%= me.username %>/<%= space.name %>",
						<%if !@space.nil? && @space.name == space.name %>
						state: { selected: true, expanded: true },
						<% end %>
						<%if !space.projects.nil? && space.projects.size > 0 %>
						nodes: [
							<% space.projects.each do |project| %>
							{
								text: "<%= project.name %>",
								href: "/<%= me.username %>/<%= space.name %>/<%= project.name %>",
								<%if !@space.nil? && @space.name == space.name && !@project.nil? && @project.name == project.name%>
								state: { selected: true },
								<% end %>
							},
							<% end %>
						]
						<% end %>
					},
				<% end %>
				]
				<%end%>
			}
		];
		return tree;
	}
</script>