<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

	<div id="wrapper">
		<%= render 'layouts/sidebar_dash' %>
		<%= render 'layouts/nav_dash' %>

		<div id="page-content-wrapper">
			<div class="container-fluid">
				<a href="#menu-toggle" class="toggle visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars fa-3x"></i></a>
					<%= yield %>
			</div>
		</div>
	</div>

	<%= render 'layouts/footer_dash' %>


	<script>
			$("#menu-toggle").click(function(e) {
					e.preventDefault();
					$("#wrapper").toggleClass("toggled");
			});

			$(window).resize(function()
			{
					$("#wrapper").toggleClass("toggled");
					$("#wrapper").toggleClass("toggled");
			});

			$('.img-circle').each(function(index, element){
				var email = $(element).data("email");
				$(element).attr("src", Gravtastic(email, {default: 'identicon'}));
			})

	</script>

	</body>
</html>